.offset {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-up(lg){ flex-direction: row; }
    div:nth-child(1) { flex: 1.5; }
    div:nth-child(2) {
        flex: 1.5;
        @include media-breakpoint-up(lg){
            margin-right: -20%;
        }
    }
}
.offset__demo {
    background: theme-color('primary');
}