.offset {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include breakpoint(large){ flex-direction: row; }
    div:nth-child(1) { flex: 1.5; }
    div:nth-child(2) {
        flex: 1.5;
        @include breakpoint(large){
            margin-right: -20%;
        }
    }
}
.offset__demo {
    background: $primary-color;
}