<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hvordan - {{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
		<!-- Google font import here. -->
	</head>
	<body>
		<header id="luxbar" class="luxbar mb-5">
			<input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
			<div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
				<ul class="luxbar-navigation">
					<li class="luxbar-header">
						<a href="#" class="luxbar-brand">Pil Tre</a>
						<label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox">
							<span></span>
						</label>
					</li>
					<li class="luxbar-item">
						<a href="{{ url('news') }}">News</a>
					</li>
					<li class="luxbar-item">
						<a href="#">Item 2</a>
					</li>
					<li class="luxbar-item">
						<a href="#">Item 3</a>
					</li>
				</ul>
			</div>
		</header>

		<div id="skip">
			<a href="#innhold">Gå til innhold</a>
		</div>

		<div id="innhold"></div>
		{% block content %}
        {% endblock %}

	</body>
</html>
