{% extends 'layouts/default.html' %}
{% set title = "Hjem" %}
{% block content %}
<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
                <a href="#" class="luxbar-brand">INFOUNDATION</a>
                <label class="luxbar-hamburger luxbar-hamburger-spin"
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item"><a href="#">Item 1</a></li>
            <li class="luxbar-item"><a href="#">Item 2</a></li>
            <li class="luxbar-item"><a href="#">Item 3</a></li>
            <li class="luxbar-item"><a href="#">test</a></li>
            <li class="luxbar-item"><a href="#">dfg</a></li>
            <li class="luxbar-item"><a href="#">adfg</a></li>
            <li class="luxbar-item"><a href="#">fgḧ́</a></li>
        </ul>
    </div>
</header>

<div class="row">
    <div class="small-10 column">
            <div class="offset">
                <div class="small-p-right small-p-left">
                   <h1>Yolo</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, aliquam esse necessitatibus odio ad quibusdam temporibus eligendi repellat a et, earum ullam, blanditiis possimus aut error quasi doloremque harum deserunt.</p>
                    <p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores perferendis fugit excepturi ducimus aspernatur tempore, doloremque, commodi expedita aut deleniti nobis praesentium in aliquam saepe, consequuntur explicabo dolorum doloribus. Nulla?</span>
                        <span>Minus veniam consectetur vero non nostrum adipisci, consequuntur ea, qui debitis pariatur nobis voluptatibus at aspernatur itaque, eveniet nesciunt ipsam repudiandae fugiat totam natus. Incidunt, repellat veniam iure sint quibusdam.</span>
                    </p>
                </div>
                <div>
                    <img src="//source.unsplash.com/random/1024x600" alt="unsplash dummy" />
                </div>
            </div>
    </div>
</div>

{% endblock %}